import type { FC } from 'react';
import type { {{pascalName}}Props } from './types';
import { use{{pascalName}} } from './use{{pascalName}}';

const {{pascalName}}: FC<{{pascalName}}Props> = ({...props}) => {
  const { name } = use{{pascalName}}(props)
  return (
    <div>
      <h1>{name}</h1>
    </div>
  );
};

export default {{pascalName}};